[Unit]
Description=NOMAD ROS vehicle adapter node (in container)
After=nomad-isaac-ros-container.service
Requires=nomad-isaac-ros-container.service
PartOf=nomad.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=__NOMAD_USER__
Group=__NOMAD_USER__
WorkingDirectory=__NOMAD_ROOT__
EnvironmentFile=__NOMAD_ROOT__/config/nomad.env

ExecStart=/bin/bash __NOMAD_ROOT__/scripts/services/nomad_ros_vehicle.sh start
ExecStop=/bin/bash __NOMAD_ROOT__/scripts/services/nomad_ros_vehicle.sh stop

StandardOutput=journal
StandardError=journal
SyslogIdentifier=nomad-ros-vehicle

[Install]
WantedBy=nomad.target
